.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/admin
/docs
/.pouchlite
/prisma
pouchdocs.json
# Local Netlify folder
.netlify
